{% extends 'registration/token_send.html' %}
{% load static %}
{% block title %}
<title>Token may be Expire</title>

{% endblock title %}
{% block content %}
    <h2 class='text-center text-light'>Token may be Expired...</h2>
    <p class= 'text-center text-info'>Broken link or your token may be expired.. Please 
        <a href="{% url 'login' %}" class='fw-bold text-success text-decoration-none'>Click Here</a> for login process and we will send you another email
    </p>
{% endblock content %}

